# --- Filtrado específico de Visual Studio ---
.vs/
Debug/
Release/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*.user
*.aps
*.suo
*.ncb
*.tlog
*.log
*.ilk
*.idb
*.sdf
*.opensdf
*.db
*.ipch
*.vcb
*.vc.db
*.exe.recipe
AppPackages/
BundleArtifacts/

# --- Archivos Objeto y Compilación General ---
*.o
*.obj
*.slo
*.lo
*.gch
*.pch

# --- Librerías Compiladas (Ignoramos para compilar en limpio de ser necesario) ---
# Nota: Si tu Box2D o SFML están en formato .lib/.dll dentro de estas carpetas, 
# se ignorarán. Es mejor tenerlas instaladas en el sistema o referenciadas fuera.
*.so
*.dylib
*.dll
*.lib
*.a
*.la
*.lai

# --- Ejecutables finales ---
*.exe
*.out
*.app
